<div class="hero-unit">
  <h1>Inheritance</h1>
  <p>From middle level:</p>
  <input ng-model="favoriteBand" type="text" />
	<span class="btn" ng-click="pyramidCap()">Pyramid cap</span>
	<span class="btn" ng-click="middleLevel()">Middle level</span>
	<span class="btn" ng-click="lowestLevel()">Lowest level of the pyramid</span>
	  <div ng-controller="SubmainCtrl">
	  	<p>From lowest level:</p>
	  	<input ng-model="favoriteBand" type="text" />
	  	<span class="btn" ng-click="pyramidCap()">Pyramid cap</span>
	  	<span class="btn" ng-click="middleLevel()">Middle level</span>
	  	<span class="btn" ng-click="lowestLevel()">Lowest level of the pyramid</span>
	  </div>
</div>